<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hotels</title>
    <link rel="stylesheet" href="../../src/css/libs/bootstrap.min.css">
    <link rel="stylesheet" href="../../src/css/main.css">
</head>
<body>

    <ul class="flexbox">
        <li>
            <div class="thumbnail">
                <h4>Название отеля, тип</h4>
                <img class="low" src="../../images/stars/four.png">
                <img src="../../images/sunray_6.jpg" alt="">
                <h5>Цена</h5>
                <button class="btn" id="btn3">Заказать</button>
            </div>
        </li>
        <li>
            <div class="thumbnail">
                <h4>Название отеля, тип</h4>
                <img class="low" src="../../images/stars/four.png">
                <img src="../../images/sunray_6.jpg" alt="">
                <h5>Цена</h5>
                <button class="btn">Заказать</button>
            </div>
        </li>
        <li>
            <div class="thumbnail">
                <h4>Название отеля, тип</h4>
                <img class="low" src="../../images/stars/four.png">
                <img src="../../images/sunray_6.jpg" alt="">
                <h5>Цена</h5>
                <button class="btn">Заказать</button>
            </div>
        </li>
        <li>
            <div class="thumbnail">
                <h4>Название отеля, тип</h4>
                <img class="low" src="../../images/stars/four.png">
                <img src="../../images/sunray_6.jpg" alt="">
                <h5>Цена</h5>
                <button class="btn">Заказать</button>
            </div>
        </li>
    </ul>
    <ul class="flexbox">
        <li>
            <div class="thumbnail">
                <h4>Название отеля, тип</h4>
                <img class="low" src="../../images/stars/four.png">
                <img src="../../images/sunray_6.jpg" alt="">
                <h5>Цена</h5>
                <button class="btn">Заказать</button>
            </div>
        </li>
        <li>
            <div class="thumbnail">
                <h4>Название отеля, тип</h4>
                <img class="low" src="../../images/stars/four.png">
                <img src="../../images/sunray_6.jpg" alt="">
                <h5>Цена</h5>
                <button class="btn">Заказать</button>
            </div>
        </li>
        <li>
            <div class="thumbnail">
                <h4>Название отеля, тип</h4>
                <img class="low" src="../../images/stars/four.png">
                <img src="../../images/sunray_6.jpg" alt="">
                <h5>Цена</h5>
                <button class="btn">Заказать</button>
            </div>
        </li>
        <li>
            <div class="thumbnail">
                <h4>Название отеля, тип</h4>
                <img class="low" src="../../images/stars/four.png">
                <img src="../../images/sunray_6.jpg" alt="">
                <h5>Цена</h5>
                <button class="btn">Заказать</button>
            </div>
        </li>
    </ul>
    <ul class="flexbox">
            <li>
                <div class="thumbnail">
                    <h4>Название отеля, тип</h4>
                    <img class="low" src="../../images/stars/four.png">
                    <img src="../../images/sunray_6.jpg" alt="">
                    <h5>Цена</h5>
                    <button class="btn">Заказать</button>
                </div>
            </li>
            <li>
                <div class="thumbnail">
                    <h4>Название отеля, тип</h4>
                    <img class="low" src="../../images/stars/four.png">
                    <img src="../../images/sunray_6.jpg" alt="">
                    <h5>Цена</h5>
                    <button class="btn">Заказать</button>
                </div>
            </li>
            <li>
                <div class="thumbnail">
                    <h4>Название отеля, тип</h4>
                    <img class="low" src="../../images/stars/four.png">
                    <img src="../../images/sunray_6.jpg" alt="">
                    <h5>Цена</h5>
                    <button class="btn">Заказать</button>
                </div>
            </li>
            <li>
                <div class="thumbnail">
                    <h4>Название отеля, тип</h4>
                    <img class="low" src="../../images/stars/four.png">
                    <img src="../../images/sunray_6.jpg" alt="">
                    <h5>Цена</h5>
                    <button class="btn">Заказать</button>
                </div>
            </li>
        </ul>
    <ul class="flexbox">
            <li>
                <div class="thumbnail">
                    <h4>Название отеля, тип</h4>
                    <img class="low" src="../../images/stars/four.png">
                    <img src="../../images/sunray_6.jpg" alt="">
                    <h5>Цена</h5>
                    <button class="btn">Заказать</button>
                </div>
            </li>
            <li>
                <div class="thumbnail">
                    <h4>Название отеля, тип</h4>
                    <img class="low" src="../../images/stars/four.png">
                    <img src="../../images/sunray_6.jpg" alt="">
                    <h5>Цена</h5>
                    <button class="btn">Заказать</button>
                </div>
            </li>
            <li>
                <div class="thumbnail">
                    <h4>Название отеля, тип</h4>
                    <img class="low" src="../../images/stars/four.png">
                    <img src="../../images/sunray_6.jpg" alt="">
                    <h5>Цена</h5>
                    <button class="btn">Заказать</button>
                </div>
            </li>
            <li>
                <div class="thumbnail">
                    <h4>Название отеля, тип</h4>
                    <img class="low" src="../../images/stars/four.png">
                    <img src="../../images/sunray_6.jpg" alt="">
                    <h5>Цена</h5>
                    <button class="btn">Заказать</button>
                </div>
            </li>
        </ul>


    <script src="../../src/js/libs/jquery-3.1.1.min.js"></script>
    <script src="../../src/js/libs/underscore.js"></script>
    <script src="../../src/js/libs/bootstrap.min.js"></script>
    <script src="../../src/js/libs/backbone.js"></script>
    <script src="../../src/js/main.js"></script>
</body>
</html>