<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Room</title>
    <link rel="stylesheet" href="../../src/css/libs/bootstrap.min.css">
    <link rel="stylesheet" href="../../src/css/main.css">
</head>
<body>
<main id="content">
    <div class="review">
        <div id="gallery">
            <div id="panel">
                <!--565x280-->
                <img id="largeImage" src="../../images/rooms/sunray_1.jpg" />

            </div>
            <div id="thumbs">
                <!--100x100-->
                <img src="../../images/rooms/sunray_1.jpg" alt="1st image description" />
                <img src="../../images/rooms/sunray_2.jpg" alt="2nd image description" />
                <img src="../../images/rooms/sunray_3.jpg" alt="3rd image description" />
                <img src="../../images/rooms/sunray_1.jpg" alt="4th image description" />
                <img src="../../images/rooms/sunray_2.jpg" alt="5th image description" />
                <img src="../../images/rooms/sunray_3.jpg" alt="2th image description" />
            </div>
        </div>
        <div class="info">
            <h1>Lux</h1>
            <div><img src="../../images/stars/four.png"></div>
            <h3>1400 грн. </h3>
            <div class="roomreview">
                Люкс-сюита это номер повышенной комфортности,   ежедневная   смена
                шелкового белья и полотенец.
                Огромный плазменный телевизор и
                DVD плеер не дадут Вас скучать, а великолепный вид из окна и террасы поразит воображение своей  красотой.
                Удобная современная  мебель  сделает
                ваш отдых удивительным и незабываемым!
            </div>
            <button class="btn btn-success">Заказать</button>
        </div>
    </div>


</main>

<script src="../../src/js/libs/jquery-3.1.1.min.js"></script>
<script src="../../src/js/libs/underscore.js"></script>
<script src="../../src/js/libs/bootstrap.min.js"></script>
<script src="../../src/js/libs/backbone.js"></script>
<script src="../../src/js/main.js"></script>
</body>
</html>