<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SunRay</title>
    <link rel="stylesheet" href="../../src/css/libs/bootstrap.min.css">
    <link rel="stylesheet" href="../../src/css/main.css">
</head>
<body>
<div class="hotel">
 <!--Начало Обзор отеля-->
    <div class="review">
            <div id="gallery">
                <div id="panel">
                    <!--565x280-->
                    <img id="largeImage" src="../../images/sunray_1.jpg" />

                </div>
                <div id="thumbs">
                    <!--100x100-->
                    <img src="../../images/sunray_1.jpg" alt="1st image description" />
                    <img src="../../images/sunray_2.jpg" alt="2nd image description" />
                    <img src="../../images/sunray_3.jpg" alt="3rd image description" />
                    <img src="../../images/sunray_4.jpg" alt="4th image description" />
                    <img src="../../images/sunray_5.jpg" alt="5th image description" />
                    <img src="../../images/sunray_6.jpg" alt="2th image description" />
                </div>
            </div>
            <div class="info">
                <h1>SunRay hotel</h1>
                <div><img src="../../images/stars/four.png"></div>
                <h3>Price</h3>
                <div>
                Гостиничный комплекс SunRay – современный 5-звездочный отель, расположенный в живописном месте на берегу
                Самарского залива в 20 мин. езды от центра Днепропетровска. Развитая инфраструктура гостиничного комплекса
                и высокое качество предлагаемого сервиса позволит вам получить максимум приятных впечатлений,
                навсегда превратив SunRay в излюбленное место для отдыха.
                </div>
            </div>
    </div>
 <!--Конец Обзор отеля-->
    <div class="content">
    <ul class="flexbox">
        <li>
            <div class="thumbnail">
                <h4>Название номера, тип</h4>
                <img src="../../images/room.jpg" alt="">
                <a href="#modal_orderX" class="open_modal">
                    <button class="btn">Заказать</button>
                </a>
            </div>
        </li>
        <li>
            <div class="thumbnail">
                <h4>Название номера, тип</h4>
                <img src="../../images/room.jpg" alt="">
                <a href="#modal_orderY" class="open_modal">
                    <button class="btn">Заказать</button>
                </a>
            </div>
        </li>
        <li>
            <div class="thumbnail">
                <h4>Название номера, тип</h4>
                <img src="../../images/room.jpg" alt="">
                <button class="btn">Заказать</button>
            </div>
        </li>
        <li>
            <div class="thumbnail">
                <h4>Название номера, тип</h4>
                <img src="../../images/room.jpg" alt="">
                <button class="btn">Заказать</button>
            </div>
        </li>
    </ul>
    <ul class="flexbox">
        <li>
            <div class="thumbnail">
                <h4>Название номера, тип</h4>
                <img src="../../images/room.jpg" alt="">
                <button class="btn">Заказать</button>
            </div>
        </li>
        <li>
            <div class="thumbnail">
                <h4>Название номера, тип</h4>
                <img src="../../images/room.jpg" alt="">
                <button class="btn">Заказать</button>
            </div>
        </li>
        <li>
            <div class="thumbnail">
                <h4>Название номера, тип</h4>
                <img src="../../images/room.jpg" alt="">
                <button class="btn">Заказать</button>
            </div>
        </li>
        <li>
            <div class="thumbnail">
                <h4>Название номера, тип</h4>
                <img src="../../images/room.jpg" alt="">
                <button class="btn">Заказать</button>
            </div>
        </li>
    </ul>
    <ul class="flexbox">
        <li>
            <div class="thumbnail">
                <h4>Название номера, тип</h4>
                <img src="../../images/room.jpg" alt="">
                <a href="" class="open_modal">
                    <button class="btn">Заказать</button>
                </a>
            </div>
        </li>
        <li>
            <div class="thumbnail">
                <h4>Название номера, тип</h4>
                <img src="../../images/room.jpg" alt="">
                <a href="" class="open_modal">
                    <button class="btn">Заказать</button>
                </a>
            </div>
        </li>
        <li>
            <div class="thumbnail">
                <h4>Название номера, тип</h4>
                <img src="../../images/room.jpg" alt="">
                <button class="btn">Заказать</button>
            </div>
        </li>
        <li>
            <div class="thumbnail">
                <h4>Название номера, тип</h4>
                <img src="../../images/room.jpg" alt="">
                <button class="btn">Заказать</button>
            </div>
        </li>
    </ul>
    <ul class="flexbox">
        <li>
            <div class="thumbnail">
                <h4>Название номера, тип</h4>
                <img src="../../images/room.jpg" alt="">
                <button class="btn">Заказать</button>
            </div>
        </li>
        <li>
            <div class="thumbnail">
                <h4>Название номера, тип</h4>
                <img src="../../images/room.jpg" alt="">
                <button class="btn">Заказать</button>
            </div>
        </li>
        <li>
            <div class="thumbnail">
                <h4>Название номера, тип</h4>
                <img src="../../images/room.jpg" alt="">
                <button class="btn">Заказать</button>
            </div>
        </li>
        <li>
            <div class="thumbnail">
                <h4>Название номера, тип</h4>
                <img src="../../images/room.jpg" alt="">
                <button class="btn">Заказать</button>
            </div>
        </li>
    </ul>
    </div>
</div>
    <script src="../../src/js/libs/jquery-3.1.1.min.js"></script>
    <script src="../../src/js/libs/underscore.js"></script>
    <script src="../../src/js/libs/bootstrap.min.js"></script>
    <script src="../../src/js/libs/backbone.js"></script>
    <script src="../../src/js/main.js"></script>
</body>
</html>